  body {
      padding-top: 5rem;
  }

  .starter-template {
      padding: 3rem 1.5rem;
      text-align: center;
  }

  .truncate-multiline {
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
  }